{% extends 'base.html.twig' %}

{% block title %}Card Game Home{% endblock %}

{% block body %}
<h1>Welcome to the Card Game</h1>
<ul>
    <li><a href="{{ path('card_show') }}">Show Deck</a></li>
    <li><a href="{{ path('card_shuffle') }}">Shuffle Deck</a></li>
    <li><a href="{{ path('card_draw') }}">Draw a Card</a></li>
    <li><a href="{{ path('card_draw_multiple', {'number': 5}) }}">Draw Multiple Cards</a></li>
    <li><a href="{{ path('card_session') }}">View Session</a></li>
    <li><a href="{{ path('card_reset_session') }}">Reset Session</a></li>
</ul>
{% endblock %}
