<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        <header style="background-image: url({{ asset('img/background.jpg') }})">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

        </header>
        <nav>
            <ul class="custom-nav">
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('lucky_number') }}">Lucky number</a></li>
                <li><a href="{{ path('lucky') }}">Lucky</a></li>
                <li><a href="{{ path('pig_start') }}">Pig</a></li>
                <li><a href="{{ path('card_start') }}">Cards</a></li>

                <li><a href="{{ path('game_index') }}">Card game 21</a></li>

                <li><a href="{{ path('api_docs') }}">API Docs</a></li>

            </ul>
        </nav>


        <main>
        {% block body %}{% endblock %}

        </main>
        <footer>
        </footer>
    </body>
    <footer class="footer">
    <p>&copy; {{ "now"|date("Y") }} MittProjekt. Alla rättigheter förbehållna.</p>
</footer>

</html>
